### 데이터 변환하기1

In [1]:
import pandas as pd

# 파일 불러오기
df=pd.read_csv('./data/seoul_park.csv')
df.head()

           날짜 공휴일     날씨   유료합계     어른  청소년  어린이  외국인   단체   무료합계     총계
0  2016-01-01   O  구름 조금  3,359  2,799  141  419   47    0  1,023  4,382
1  2016-01-02   O  구름 많음  5,173  4,370  203  600  100  111  2,092  7,265
2  2016-01-03   O  구름 많음  3,008  2,571  128  309   91    0  1,549  4,557
3  2016-01-04   X  구름 많음    890    602  NaN  235   51  223    800  1,690
4  2016-01-05   X  구름 많음    416    319   35   62   43   47    840  1,256

In [2]:
df

              날짜 공휴일     날씨   유료합계     어른  청소년  어린이  외국인   단체   무료합계     총계
0     2016-01-01   O  구름 조금  3,359  2,799  141  419   47    0  1,023  4,382
1     2016-01-02   O  구름 많음  5,173  4,370  203  600  100  111  2,092  7,265
2     2016-01-03   O  구름 많음  3,008  2,571  128  309   91    0  1,549  4,557
3     2016-01-04   X  구름 많음    890    602  NaN  235   51  223    800  1,690
4     2016-01-05   X  구름 많음    416    319   35   62   43   47    840  1,256
...          ...  ..    ...    ...    ...  ...  ...  ...  ...    ...    ...
1081  2019-03-27   X  구름 많음    504    464   10   30   21    -    613  1,117
1082  2019-03-28   X  구름 많음    761    687   46   28   35  108    904  1,665
1083  2019-03-29   X  구름 조금  1,644  1,447  120   77   14  188  1,226  2,870
1084  2019-03-30   O     흐림  1,539  1,326   44  169   29  115    913  2,452
1085  2019-03-31   O  구름 조금  3,061  2,563  111  387   53    -  1,357  4,418

[1086 rows x 11 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   object
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   유료합계    1086 non-null   object
 4   어른      1086 non-null   object
 5   청소년     1081 non-null   object
 6   어린이     1086 non-null   object
 7   외국인     1086 non-null   object
 8   단체      1086 non-null   object
 9   무료합계    1086 non-null   object
 10  총계      1086 non-null   object
dtypes: object(11)
memory usage: 93.5+ KB

In [4]:
# 텍스트 데이터를 정수형으로 바꾸기 전에 텍스트에서 숫자만 남기고 제거한다.
# 이를 위해 숫자로 바꾸어야 하는 컬럼들에서 replace()를 활용하여 -를 0으로 바꾸고 콤마를 제거한다.

# str.replace()
columns=['유료합계', '어른', '청소년', '어린이', '외국인', '단체', '무료합계', '총계']
for i in columns:
    df[i]=df[i].str.replace('-', '0')
    df[i]=df[i].str.replace(',', '')

In [6]:
df

              날짜 공휴일     날씨  유료합계    어른  청소년  어린이  외국인   단체  무료합계    총계
0     2016-01-01   O  구름 조금  3359  2799  141  419   47    0  1023  4382
1     2016-01-02   O  구름 많음  5173  4370  203  600  100  111  2092  7265
2     2016-01-03   O  구름 많음  3008  2571  128  309   91    0  1549  4557
3     2016-01-04   X  구름 많음   890   602  NaN  235   51  223   800  1690
4     2016-01-05   X  구름 많음   416   319   35   62   43   47   840  1256
...          ...  ..    ...   ...   ...  ...  ...  ...  ...   ...   ...
1081  2019-03-27   X  구름 많음   504   464   10   30   21    0   613  1117
1082  2019-03-28   X  구름 많음   761   687   46   28   35  108   904  1665
1083  2019-03-29   X  구름 조금  1644  1447  120   77   14  188  1226  2870
1084  2019-03-30   O     흐림  1539  1326   44  169   29  115   913  2452
1085  2019-03-31   O  구름 조금  3061  2563  111  387   53    0  1357  4418

[1086 rows x 11 columns]

### 데이터 타입 변환: astype()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   object
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   유료합계    1086 non-null   object
 4   어른      1086 non-null   object
 5   청소년     1081 non-null   object
 6   어린이     1086 non-null   object
 7   외국인     1086 non-null   object
 8   단체      1086 non-null   object
 9   무료합계    1086 non-null   object
 10  총계      1086 non-null   object
dtypes: object(11)
memory usage: 93.5+ KB

In [8]:
df["어른"].astype(int)

0       2799
1       4370
2       2571
3        602
4        319
        ...
1081     464
1082     687
1083    1447
1084    1326
1085    2563
Name: 어른, Length: 1086, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   object
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   유료합계    1086 non-null   object
 4   어른      1086 non-null   object
 5   청소년     1081 non-null   object
 6   어린이     1086 non-null   object
 7   외국인     1086 non-null   object
 8   단체      1086 non-null   object
 9   무료합계    1086 non-null   object
 10  총계      1086 non-null   object
dtypes: object(11)
memory usage: 93.5+ KB

In [10]:
df["어른"]=df["어른"].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   object
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   유료합계    1086 non-null   object
 4   어른      1086 non-null   int64
 5   청소년     1081 non-null   object
 6   어린이     1086 non-null   object
 7   외국인     1086 non-null   object
 8   단체      1086 non-null   object
 9   무료합계    1086 non-null   object
 10  총계      1086 non-null   object
dtypes: int64(1), object(10)
memory usage: 93.5+ KB

### 데이터 타입 변환: to_numeric()

In [11]:
# 숫자로만 변환 가능
df["유료합계"]=pd.to_numeric(df["유료합계"])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   object
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   유료합계    1086 non-null   int64
 4   어른      1086 non-null   int64
 5   청소년     1081 non-null   object
 6   어린이     1086 non-null   object
 7   외국인     1086 non-null   object
 8   단체      1086 non-null   object
 9   무료합계    1086 non-null   object
 10  총계      1086 non-null   object
dtypes: int64(2), object(9)
memory usage: 93.5+ KB

In [12]:
## df의 "외국인" 컬럼의 자료형을 숫자형으로 변환해 변수 foreigner에 저장하세요
foreigner = df["외국인"].astype(int)
foreigner.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1086 entries, 0 to 1085
Series name: 외국인
Non-Null Count  Dtype
--------------  -----
1086 non-null   int64
dtypes: int64(1)
memory usage: 8.6 KB

In [13]:
columns=['유료합계', '어른', '청소년', '어린이', '외국인', '단체', '무료합계', '총계']
for i in columns:
    df[i]=pd.to_numeric(df[i])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   object
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   유료합계    1086 non-null   int64
 4   어른      1086 non-null   int64
 5   청소년     1081 non-null   float64
 6   어린이     1086 non-null   int64
 7   외국인     1086 non-null   int64
 8   단체      1086 non-null   int64
 9   무료합계    1086 non-null   int64
 10  총계      1086 non-null   int64
dtypes: float64(1), int64(7), object(3)
memory usage: 93.5+ KB

### 데이터 타입 변환: to_datetime()

In [14]:
df["날짜"]=pd.to_datetime(df["날짜"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   datetime64[ns]
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   유료합계    1086 non-null   int64
 4   어른      1086 non-null   int64
 5   청소년     1081 non-null   float64
 6   어린이     1086 non-null   int64
 7   외국인     1086 non-null   int64
 8   단체      1086 non-null   int64
 9   무료합계    1086 non-null   int64
 10  총계      1086 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 93.5+ KB

In [ ]:
# datetime 형태의 데이터에는 연, 월, 일 정보가 담겨있어 이를 활용하여 새로운 정보를 생성할 수 있다.
df['연']=df['날짜'].dt.year
df['월']=df['날짜'].dt.month
df['일']=df['날짜'].dt.day
df['요일']=df['날짜'].dt.dayofweek  # 요일은 숫자로 저장(월~일:0~6)

In [16]:
df.head()

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
0,2016-01-01,O,구름 조금,3359,2799,141.0,419,47,0,1023,4382,2016,1,1,4
1,2016-01-02,O,구름 많음,5173,4370,203.0,600,100,111,2092,7265,2016,1,2,5
2,2016-01-03,O,구름 많음,3008,2571,128.0,309,91,0,1549,4557,2016,1,3,6
3,2016-01-04,X,구름 많음,890,602,NaN,235,51,223,800,1690,2016,1,4,0
4,2016-01-05,X,구름 많음,416,319,35.0,62,43,47,840,1256,2016,1,5,1