### 데이터 변환하기2

In [2]:
import pandas as pd

df = pd.read_csv("./data/seoul_park02.csv")
df.head()

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
0,2016-01-01,O,구름 조금,3359,2799,141.0,419,47,0,1023,4382,2016,1,1,4
1,2016-01-02,O,구름 많음,5173,4370,203.0,600,100,111,2092,7265,2016,1,2,5
2,2016-01-03,O,구름 많음,3008,2571,128.0,309,91,0,1549,4557,2016,1,3,6
3,2016-01-04,X,구름 많음,890,602,NaN,235,51,223,800,1690,2016,1,4,0
4,2016-01-05,X,구름 많음,416,319,35.0,62,43,47,840,1256,2016,1,5,1

### 열 전체 변환: map()

In [4]:
week={0:'월',1:'화',2:'수',3:'목',4:'금',5:'토',6:'일'}

In [5]:
df['요일'] = df['요일'].map(week)
df.head()

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
0,2016-01-01,O,구름 조금,3359,2799,141.0,419,47,0,1023,4382,2016,1,1,금
1,2016-01-02,O,구름 많음,5173,4370,203.0,600,100,111,2092,7265,2016,1,2,토
2,2016-01-03,O,구름 많음,3008,2571,128.0,309,91,0,1549,4557,2016,1,3,일
3,2016-01-04,X,구름 많음,890,602,NaN,235,51,223,800,1690,2016,1,4,월
4,2016-01-05,X,구름 많음,416,319,35.0,62,43,47,840,1256,2016,1,5,화

In [6]:
df['날씨'].value_counts()

날씨
구름 많음    277
구름 조금    236
맑음       222
비        101
흐림       100
눈          6
눈/비        4
Name: count, dtype: int64

In [9]:
def weather(e):
    if e == '눈' or e == '비':
        return '눈/비'
    else:
        return e

In [10]:
df['날씨'] = df['날씨'].apply(weather)

In [11]:
df['날씨'].value_counts()

날씨
구름 많음    277
구름 조금    236
맑음       222
눈/비      111
흐림       100
Name: count, dtype: int64

In [12]:
# 람다 함수 적용
df["날씨"] = df["날씨"].apply(lambda e : "눈/비" if e == "눈" or e == "비" else e)

In [ ]:
# 일차별 혼잡도 시리즈를 생성한 뒤 변수 congestion에 저장하세요.

# apply()를 사용하세요
# '총계'컬럼의 값이 8000 이상인 날은 "혼잡", 8000미만인 날은 "원활"로 합니다.
# 평범하게 함수를 정의하거나, 람다함수를 활용해 보세요.

def check(x):
    if x >= 8000:
        return "혼잡"
    else x
        return "원활"
        

congestion = df["총계"].apply(check)

SyntaxError: expected ':' (2975748937.py, line 8)