### 데이터 추출하기

In [1]:
import pandas as pd

df = pd.read_csv("./data/seoul_park03.csv")
df.head()

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
0,2016-01-01,O,구름 조금,3359,2799,141.0,419,47,0,1023,4382,2016,1,1,금
1,2016-01-02,O,구름 많음,5173,4370,203.0,600,100,111,2092,7265,2016,1,2,토
2,2016-01-03,O,구름 많음,3008,2571,128.0,309,91,0,1549,4557,2016,1,3,일
3,2016-01-04,X,구름 많음,890,602,NaN,235,51,223,800,1690,2016,1,4,월
4,2016-01-05,X,구름 많음,416,319,35.0,62,43,47,840,1256,2016,1,5,화

In [2]:
### 조건에 따른 인덱싱: Boolean indexing
df[df["어른"] > 5000]

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
40,2016-02-10,O,맑음,7080,6037,251.0,792,141,0,2869,9949,2016,2,10,수
65,2016-03-06,O,구름 많음,8797,7669,219.0,909,108,0,2767,11564,2016,3,6,일
78,2016-03-19,O,구름 조금,26448,22735,422.0,2990,112,178,6683,33131,2016,3,19,토
79,2016-03-20,O,구름 조금,27093,22947,535.0,3370,176,0,7267,34360,2016,3,20,일
85,2016-03-26,O,맑음,16958,14114,408.0,2094,192,62,4790,21748,2016,3,26,토
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,2018-11-29,X,구름 많음,7705,7646,18.0,41,16,7527,767,8472,2018,11,29,목
1063,2019-03-09,O,NaN,12602,11023,157.0,1422,52,74,5231,17833,2019,3,9,토
1064,2019-03-10,O,NaN,6387,5512,86.0,789,42,0,2867,9254,2019,3,10,일
1071,2019-03-17,O,NaN,12169,10313,199.0,1657,51,30,3549,15718,2019,3,17,일
1078,2019-03-24,O,맑음,10039,8502,161.0,1376,74,35,2748,12787,2019,3,24,일

In [3]:
# pandas 논리연산자 사용
# 두 개 이상의 조건은 and(&)나 or(|)을 활용하여  같이 사용한다. 이 때 각 조건식은 소괄호로 묶여있어야 한다.

# 어른 입장객 수가 10000명이 넘는 공휴일의 데이터만을 추출
df[(df["어른"] > 10000) & (df["요일"] == "공휴일")]

Empty DataFrame
Columns: [날짜, 공휴일, 날씨, 유료합계, 어른, 청소년, 어린이, 외국인, 단체, 무료합계, 총계, 연, 월, 일, 요일]
Index: []

In [5]:
# 어른 입장객 수가 10000명이 넘거나 어린이 입장객 수가 2000명이 넘는 날짜의 데이터 추출
df[(df["어른"] > 10000) | (df["어린이"] > 2000)]

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
78,2016-03-19,O,구름 조금,26448,22735,422.0,2990,112,178,6683,33131,2016,3,19,토
79,2016-03-20,O,구름 조금,27093,22947,535.0,3370,176,0,7267,34360,2016,3,20,일
85,2016-03-26,O,맑음,16958,14114,408.0,2094,192,62,4790,21748,2016,3,26,토
86,2016-03-27,O,맑음,23610,20041,487.0,2860,205,60,6879,30489,2016,3,27,일
92,2016-04-02,O,구름 조금,31407,26605,561.0,3643,169,201,6380,37787,2016,4,2,토
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,2018-10-27,O,구름 많음,14941,11443,402.0,3096,107,7691,6620,21561,2018,10,27,토
938,2018-11-04,O,구름 조금,12125,10223,307.0,1595,79,195,3778,15903,2018,11,4,일
956,2018-11-22,X,맑음,4251,553,25.0,3673,29,3809,713,4964,2018,11,22,목
1063,2019-03-09,O,NaN,12602,11023,157.0,1422,52,74,5231,17833,2019,3,9,토
1071,2019-03-17,O,NaN,12169,10313,199.0,1657,51,30,3549,15718,2019,3,17,일

In [ ]:
# 어린이날의 데이터를 추출해 childrensday에 저장하세요
# "월"과 "일" 컬럼을 사용하세요.abs

childrensday = df[(df["월"] == 5 ) & (df["일"] == 5)]
childrensday

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
125,2016-05-05,O,NaN,40219,38511,1708.0,0,476,35,18469,58688,2016,5,5,목
390,2017-05-05,O,구름 조금,27046,25824,1222.0,0,616,170,19218,46264,2017,5,5,금
755,2018-05-05,O,맑음,29521,28592,899.0,30,208,65,22789,52310,2018,5,5,토

In [15]:
df.head()

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
0,2016-01-01,O,구름 조금,3359,2799,141.0,419,47,0,1023,4382,2016,1,1,금
1,2016-01-02,O,구름 많음,5173,4370,203.0,600,100,111,2092,7265,2016,1,2,토
2,2016-01-03,O,구름 많음,3008,2571,128.0,309,91,0,1549,4557,2016,1,3,일
3,2016-01-04,X,구름 많음,890,602,NaN,235,51,223,800,1690,2016,1,4,월
4,2016-01-05,X,구름 많음,416,319,35.0,62,43,47,840,1256,2016,1,5,화

In [16]:
# 2026년 1월 4일의 어른 데이터 추출
# .loc[행의 인덱스, 열의 인덱스]
df.loc[3,"어른"]

np.int64(602)

In [17]:
# 슬라이싱을 활용한 인덱싱
# 유의할점 : loc는 라벨 기반 인덱싱이기 때문에 A:B로 슬라이싱을 하면 A부터 B까지, 즉 B를 포함한 범위를 인덱싱 한다.abs

df.loc[3:6,"어른":"외국인"]

    어른   청소년  어린이  외국인
3  602   NaN  235   51
4  319  35.0   62   43
5  277  41.0   49   34
6  250  23.0   36   13

In [18]:
### loc와 Boonlean indexing을 활용한 데이터 추출

In [ ]:
# 어른과 어린이의 입장객 수가 둘 다 1000보다 큰 날짜의 "날짜"부터 "총계" 행 추출
df.loc[(df["어른"]> 1000) & (df["어린이"] > 1000), "날짜" : "총계"]