### 선 그래프와 막대 그래프

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams["axes.unicode_minus"] = False
plt.rc("font", family="Malgun Gothic")

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("seoul_park.csv")
df.head()

,Unnamed: 0,날짜,요일,공휴일,날씨,어른,청소년,어린이,외국인,단체,총입장객수,연,월,일,매출액
0,0,2016-01-01,금,O,구름 조금,2799,141.0,419,47,0,4382,2016,1,1,33590000
1,1,2016-01-02,토,O,구름 많음,4370,203.0,600,100,111,7265,2016,1,2,51730000
2,2,2016-01-03,일,O,구름 많음,2571,128.0,309,91,0,4557,2016,1,3,30080000
3,3,2016-01-04,월,X,구름 많음,602,463.0,235,51,223,1690,2016,1,4,8900000
4,4,2016-01-05,화,X,구름 많음,319,35.0,62,43,47,1256,2016,1,5,4160000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1086 non-null   int64
 1   날짜          1086 non-null   object
 2   요일          1086 non-null   object
 3   공휴일         1086 non-null   object
 4   날씨          939 non-null    object
 5   어른          1086 non-null   int64
 6   청소년         1086 non-null   float64
 7   어린이         1086 non-null   int64
 8   외국인         1086 non-null   int64
 9   단체          1086 non-null   int64
 10  총입장객수       1086 non-null   int64
 11  연           1086 non-null   int64
 12  월           1086 non-null   int64
 13  일           1086 non-null   int64
 14  매출액         1086 non-null   int64
dtypes: float64(1), int64(10), object(4)
memory usage: 127.4+ KB